[
 {erm, [
   {enabled, true},
   {http_enabled, false},
   {media_enabled, false},
   {display_manager, [
      {mode, greeter},
      {default_session, "herbstluftwm"},
      {display_number, 0},
      {exit_on_accept, true},
      {auth_helper, "/usr/lib/erm-greeter/priv/erm_greetd_auth"},
      {sessions, [
         [{id,"herbstluftwm"},
          {label,"herbstluftwm"},
          {command,"/usr/bin/herbstluftwm"},
          {args,[]},
          {desktop,"herbstluftwm"}]
      ]}
   ]},
   {gtknode4, [
      {enabled,true},
      {mode,local_cnode},
      {port,[{cnode_regname,gtknode4},{controller_regname,gtknode4},{handshake_timeout,10000},{use_erm_display,true},{test_mode,false}]},
      {gs,[{test_mode,false},{backend_timeout,5000},{dialog_timeout,infinity},{event_log_limit,1000}]}
   ]}
 ]}
].
