[
 {erm, [
   {enabled, true},
   {http_enabled, false},
   {media_enabled, false},
   {display_manager, [
      {mode, session_host},
      {default_session, "herbstluftwm"},
      {display_number, 0},
      {sessions, [
         [{id,"herbstluftwm"},
          {label,"herbstluftwm"},
          {command,"/usr/bin/herbstluftwm"},
          {args,[]},
          {desktop,"herbstluftwm"}]
      ]}
   ]},
   {gtknode4,[{enabled,false}]}
 ]}
].
