.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
_build
.idea
*.iml
rebar3.crashdump
*~
config/sys.config
contracts/*.aes.deploy.*
apps/ecai/priv/wikipedia/*
apps/damage/src/damage_build_info.erl
ct_run.*
packaging/arch/.cache/*
packaging/arch/zst/*
packaging/mint/22/deb/*
*.so
