{erl_opts, [warnings_as_errors, debug_info]}.

{
  deps,
  [
    hackney,
    {jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "v2.10.0"}}},
    {ejsonpath, {git, "https://github.com/ostrovok-team/ejsonpath.git", {branch, "master"}}},
    {egherkin, {git, "https://github.com/jagguli/egherkin.git", {branch, "master"}}},
    {mustache, {git, "https://github.com/mojombo/mustache.erl.git", {branch, "master"}}},
    {fast_yaml, {git, "https://github.com/processone/fast_yaml.git", {branch, "master"}}},
    cowboy,
    {datestring, {git, "https://github.com/strange/datestring.git", {branch, "master"}}},
    {uuid, ".*", {git, "https://github.com/avtobiff/erlang-uuid.git", {branch, "master"}}},
    {pa, ".*", {git, "https://github.com/erszcz/pa.git", {branch, "master"}}},
    {sync, ".*", {git, "git://github.com/rustyio/sync.git", {branch, "master"}}},
    {poolboy, ".*", {git, "https://github.com/devinus/poolboy.git", {branch, "master"}}},
    {gun, ".*", {git, "https://github.com/ninenines/gun.git", {branch, "master"}}}
  ]
}.

{plugins, [rebar3_hex, rebar3_auto, rebar3_run, steamroller, pc]}.

{
  shell,
  [
    {config, "config/sys.config"},
    {apps, [kernel, stdlib, sasl, public_key, ssl, os_mon, crypto, cowboy, damage]}
  ]
}.
{ct_compile_opts, [export_all]}.