[{kernel,
     [{logger_level,debug},
      {module_level,info,[damage_reload]},
      {logger,
          [{handler,default,logger_std_h,
               #{config => #{type => standard_io},
                 filter_default => log,
                 filters =>
                     [{exclude_erm_voice,
                          {fun logger_filters:domain/2,
                           {stop,sub,[erm,voice]}}},
                      {exclude_erm_whisper,
                          {fun logger_filters:domain/2,
                           {stop,sub,[erm,whisper]}}},
                      {exclude_erm_lens,
                          {fun logger_filters:domain/2,{stop,sub,[erm,lens]}}},
                      {exclude_nsecbunker,
                          {fun logger_filters:domain/2,
                           {stop,sub,[damage,nsecbunker]}}},
                      {exclude_nwc,
                          {fun logger_filters:domain/2,
                           {stop,sub,[damage,nwc]}}},
                      {exclude_nostr_relay,
                          {fun logger_filters:domain/2,
                           {stop,sub,[damage,nostr,relay]}}}],
                 formatter => {pretty_logger,#{}},
                 level => warning}},
           {handler,debug_file,logger_std_h,
               #{config =>
                     #{compress_on_rotate => true,
                       file => "/var/log/damage/debug.log",
                       max_no_bytes => 10485760,max_no_files => 5,
                       type => file},
                 filter_default => stop,
                 filters =>
                     [{exclude_erm_voice,
                          {fun logger_filters:domain/2,
                           {stop,sub,[erm,voice]}}},
                      {exclude_erm_whisper,
                          {fun logger_filters:domain/2,
                           {stop,sub,[erm,whisper]}}},
                      {exclude_erm_lens,
                          {fun logger_filters:domain/2,{stop,sub,[erm,lens]}}},
                      {exclude_nsecbunker,
                          {fun logger_filters:domain/2,
                           {stop,sub,[damage,nsecbunker]}}},
                      {exclude_nwc,
                          {fun logger_filters:domain/2,
                           {stop,sub,[damage,nwc]}}},
                      {exclude_nostr_relay,
                          {fun logger_filters:domain/2,
                           {stop,sub,[damage,nostr,relay]}}},
                      {debug_only,
                          {fun logger_filters:level/2,{log,eq,debug}}}],
                 formatter => {pretty_logger,#{}},
                 level => debug}},
           {handler,info_file,logger_std_h,
               #{config =>
                     #{compress_on_rotate => true,
                       file => "/var/log/damage/info.log",
                       max_no_bytes => 10485760,max_no_files => 5,
                       type => file},
                 filter_default => log,
                 filters =>
                     [{exclude_erm_voice,
                          {fun logger_filters:domain/2,
                           {stop,sub,[erm,voice]}}},
                      {exclude_erm_whisper,
                          {fun logger_filters:domain/2,
                           {stop,sub,[erm,whisper]}}},
                      {exclude_erm_lens,
                          {fun logger_filters:domain/2,{stop,sub,[erm,lens]}}},
                      {exclude_nsecbunker,
                          {fun logger_filters:domain/2,
                           {stop,sub,[damage,nsecbunker]}}},
                      {exclude_nwc,
                          {fun logger_filters:domain/2,
                           {stop,sub,[damage,nwc]}}},
                      {exclude_nostr_relay,
                          {fun logger_filters:domain/2,
                           {stop,sub,[damage,nostr,relay]}}}],
                 formatter => {pretty_logger,#{}},
                 level => info}},
           {handler,error_file,logger_std_h,
               #{config =>
                     #{compress_on_rotate => true,
                       file => "/var/log/damage/error.log",
                       filesync_repeat_interval => 1000,
                       max_no_bytes => 10485760,max_no_files => 10,
                       type => file},
                 filter_default => log,
                 filters =>
                     [{exclude_erm_voice,
                          {fun logger_filters:domain/2,
                           {stop,sub,[erm,voice]}}},
                      {exclude_erm_whisper,
                          {fun logger_filters:domain/2,
                           {stop,sub,[erm,whisper]}}},
                      {exclude_erm_lens,
                          {fun logger_filters:domain/2,{stop,sub,[erm,lens]}}},
                      {exclude_nsecbunker,
                          {fun logger_filters:domain/2,
                           {stop,sub,[damage,nsecbunker]}}},
                      {exclude_nwc,
                          {fun logger_filters:domain/2,
                           {stop,sub,[damage,nwc]}}},
                      {exclude_nostr_relay,
                          {fun logger_filters:domain/2,
                           {stop,sub,[damage,nostr,relay]}}}],
                 formatter =>
                     {pretty_logger,
                         #{depth => 6,max_binary => 128,
                           max_event_chars => 12000,max_list => 24,
                           max_map => 32,max_string => 512,
                           max_text_chars => 4096,max_tuple => 24}},
                 level => warning}},
           {handler,erm_voice_file,logger_std_h,
               #{config =>
                     #{compress_on_rotate => true,
                       file => "/var/log/damage/erm_voice.log",
                       filesync_repeat_interval => 1000,
                       max_no_bytes => 10485760,max_no_files => 5,
                       type => file},
                 filter_default => stop,
                 filters =>
                     [{only_erm_voice,
                          {fun logger_filters:domain/2,
                           {log,sub,[erm,voice]}}}],
                 formatter => {pretty_logger,#{}},
                 level => debug}},
           {handler,erm_whisper_file,logger_std_h,
               #{config =>
                     #{compress_on_rotate => true,
                       file => "/var/log/damage/whisper.log",
                       filesync_repeat_interval => 1000,
                       max_no_bytes => 10485760,max_no_files => 5,
                       type => file},
                 filter_default => stop,
                 filters =>
                     [{only_whisper,
                          {fun logger_filters:domain/2,
                           {log,sub,[erm,whisper]}}}],
                 formatter => {pretty_logger,#{}},
                 level => debug}},
           {handler,erm_lens_file,logger_std_h,
               #{config =>
                     #{compress_on_rotate => true,
                       file => "/var/log/damage/erm_lens.log",
                       filesync_repeat_interval => 1000,
                       max_no_bytes => 10485760,max_no_files => 5,
                       type => file},
                 filter_default => stop,
                 filters =>
                     [{only_erm_lens,
                          {fun logger_filters:domain/2,{log,sub,[erm,lens]}}}],
                 formatter => {pretty_logger,#{}},
                 level => debug}},
           {handler,blossom_file,logger_std_h,
               #{config =>
                     #{compress_on_rotate => true,
                       file => "/var/log/damage/blossom.log",
                       filesync_repeat_interval => 1000,
                       max_no_bytes => 10485760,max_no_files => 10,
                       type => file},
                 filter_default => stop,
                 filters =>
                     [{only_damage_blossom,
                          {fun logger_filters:domain/2,
                           {log,sub,[damage,blossom]}}}],
                 formatter =>
                     {pretty_logger,
                         #{depth => 8,max_binary => 256,
                           max_event_chars => 12000,max_list => 32,
                           max_map => 48,max_string => 1024,
                           max_text_chars => 4096,max_tuple => 24}},
                 level => debug}},
           {handler,nsecbunker_file,logger_std_h,
               #{config =>
                     #{compress_on_rotate => true,
                       file => "/var/log/damage/nsecbunker.log",
                       filesync_repeat_interval => 1000,
                       max_no_bytes => 10485760,max_no_files => 10,
                       type => file},
                 filter_default => stop,
                 filters =>
                     [{only_nsecbunker,
                          {fun logger_filters:domain/2,
                           {log,sub,[damage,nsecbunker]}}}],
                 formatter => {pretty_logger,#{}},
                 level => debug}},
           {handler,nwc_file,logger_std_h,
               #{config =>
                     #{compress_on_rotate => true,
                       file => "/var/log/damage/nwc.log",
                       filesync_repeat_interval => 1000,
                       max_no_bytes => 10485760,max_no_files => 10,
                       type => file},
                 filter_default => stop,
                 filters =>
                     [{only_nwc,
                          {fun logger_filters:domain/2,
                           {log,sub,[damage,nwc]}}}],
                 formatter => {pretty_logger,#{}},
                 level => debug}},
           {handler,nostr_relay_file,logger_std_h,
               #{config =>
                     #{compress_on_rotate => true,
                       file => "/var/log/damage/nostr_relay.log",
                       filesync_repeat_interval => 1000,
                       max_no_bytes => 10485760,max_no_files => 10,
                       type => file},
                 filter_default => stop,
                 filters =>
                     [{only_nostr_relay,
                          {fun logger_filters:domain/2,
                           {log,sub,[damage,nostr,relay]}}}],
                 formatter => {pretty_logger,#{}},
                 level => debug}},
           {handler,damage_gun_file,logger_std_h,
               #{config =>
                     #{compress_on_rotate => true,
                       file => "/var/log/damage/damage_gun.log",
                       max_no_bytes => 10485760,max_no_files => 5,
                       type => file},
                 filter_default => stop,
                 filters =>
                     [{only_damage_gun,
                          {fun logger_filters:domain/2,
                           {log,sub,[damage,gun]}}}],
                 formatter => {pretty_logger,#{}},
                 level => debug}}]}]}].
