<!-- -*- mode: html -*- -->
<footer id="node-footer">
  <div class="click-copy">
    <span id="node-public-key" class="copy-text mono"></span>
    <span class="copy-icon" onclick="copyToClipboard('node-public-key')">📋</span>
  </div>

  <p id="node-balances"></p>

  <div class="click-copy">
    <span id="node-build-sha" class="copy-text mono"></span>
    <span class="copy-icon" onclick="copyToClipboard('node-build-sha')">📋</span>
  </div>

  <p id="node-build-meta"></p>


</footer>

