<!-- -*- mode: html -*- -->
<div class="modal micromodal-slide" id="invoice-modal" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <header class="modal__header">
        <h2 class="modal__title" id="modal-1-title">Lightning Invoice</h2>
        <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
      </header>
      <main class="modal__content" id="modal-1-content">
            <div id="qrcode-lightning">
            </div>
            <details><summary>Show full Lightning Invoice: <span class="icon">👇</span></summary>
              <div class="click-copy">
                <textarea id="lightning-invoice-input" readonly class='click-copy'></textarea>
                <span class="copy-icon" onclick="copyToClipboard('lightning-invoice-input')"> ⧉</span>
              </div>
            </details>
      </main>
      <footer class="modal__footer">
        <!--<button class="modal__btn modal__btn-primary" data-micromodal-close aria-label="Close this dialog window">Close</button>-->
      </footer>
    </div>
  </div>
</div>
