<!-- -*- mode: html -*- -->
<div class="modal micromodal-slide" id="login-modal" aria-hidden="true">
   <div class="modal__overlay" tabindex="-1">
      <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
         <main id="login_modal_content" class="modal__content " id="modal-1-content">
            <form id="loginSignupForm" class='panel' onsubmit="submitLoginForm(event)">
               <header class="modal__header login_modal_header">
                  <img src="/static/img/logo.png" />
                  <h2 class="modal__title" id="modal-1-title">DamageBDD Login</h2>
               </header>
               <input type="email"
                  id="login-username"
                  autocomplete="username"
                  required
                  placeholder="Email Address">
               <div class="password-wrapper">
                  <input type="password"
                     name="password"
                     id="password"
                     autocomplete="current-password"
                     required
                     placeholder="Password">
                  <button type="button" class="toggle-password" data-target="password">👁️</button>
               </div>
               <button id="loginSubmitBtn"
                  class="modal__btn modal__btn-primary styled-btn"
                  aria-label="Login with email and password"
                  title="Login Submit">
               Login
               </button>
               <p id="or">OR</p>
               <button id="connect-button" class="modal__btn modal__btn-primary styled-btn" aria-label="Connect wallet." title="Wallet Connect">Connect Wallet</button><br>
               <p id="dont_have_wallet">Don’t have a wallet? <a href="https://www.superherowallet.com" target="_blank">Install Superhero Wallet</a></p>
               <div id="connect-status"></div>
               <hr id="loginDivider">
               <footer id="login_footer" class="modal__footer">
                  <div class="login-links">
                     <button id="signupDialogBtn" class="buttonlink" aria-label="Signup Form." title="Create an Account">Sign Up</button>
                     <button id="loginResetPasswdBtn" class="buttonlink" aria-label="Forgot Password" title="Reset Password">Forgot Password</button>
                  </div>
                  <div class="terms">By logging in, you accept the <a href="/terms">Terms and Conditions</a>.</div>
               </footer>
            </form>
         </main>
      </div>
   </div>
</div>
