<div class="modal micromodal-slide" id="signup-modal" aria-hidden="true">
      <div class="modal__overlay" tabindex="-1">
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
          <header class="modal__header">
            <img src="/static/img/logo.png" />
            <h2 class="modal__title" id="modal-1-title">DamageBDD Sign Up</h2>
          </header>
          <main class="modal__content" id="modal-1-content">
            <form id="signupForm" onsubmit="submitSignupForm(event)">
              <input type="email" id="signup-username" autocomplete="username" required placeholder="Email Address"><br>
              <button id="signupSubmitBtn" class="modal__btn modal__btn-primary" aria-label="Signup with email and password" title="Sign Up Submit">Sign Up</button>
            </form>
          </main>
          <footer class="modal__footer">
            <div class="login-links">
              <button class="buttonlink" id="loginDialogBtn" aria-label="Login Form.">Login</button>
              <button class="buttonlink" id="signupResetPasswdBtn" aria-label="Forgot Password.">Forgot Password</button>
            </div>
            <div class="terms">By signing up, you acknowledge and agree to the <a href="/terms">Terms and Conditions</a>.</div>
          </footer>
        </div>
      </div>
    </div>
