<!-- -*- mode: html -*- -->
<ul data-tabs>
  <li><a href="#execution-tab">Execute</a></li>
  <li><a href="#history-tab">History</a></li>
  <li><a href="#analytics-tab">Analytics</a></li>
  <li><a href="#schedules-tab">Schedules</a></li>
  <li><a href="#swap-options-tab">Swap Options</a></li>
  <li><a href="#ecai-jobs-tab">ECAI NFTs</a></li>
  <li><a href="#settings-tab">Settings</a></li>
</ul>
