<!-- -*- mode: html -*- -->
<nav class="tabsbar" aria-label="Primary">
  <ul data-tabs>
    <li><a href="#execution-tab">Execute</a></li>
    <li><a href="#activity-tab">Activity</a></li>
    <li><a href="#analytics-tab">Analytics</a></li>
    <li><a href="#schedules-tab">Schedules</a></li>
    <li><a href="#swap-options-tab">Swaps</a></li>
    <li><a href="#ecai-jobs-tab">NFTs</a></li>
    <li><a href="#settings-tab">Settings</a></li>
    {{#node_admin}}
    <li><a href="#node-transactions-tab">Node Transactions</a></li>
    <li><a href="#node-channels-tab">CLN Channels</a></li>
    {{/node_admin}}
  </ul>
</nav>

