<div class="outline-text-3" id="text-orgfc5f9c0">
<form id="kycForm" action="/accounts/create" method="post">
  <input type="hidden" name="csrf_token" value="your_csrf_token_here">
  
  <label for="full_name">Full Name:</label>
  <input type="text" id="full_name" name="full_name" required="" value="{{full_name}}"><br><br>
  <label for="email">Email:</label>
  <input type="text" id="email" name="email" required="" value="{{email}}"><br><br>

  <!--<label for="dateOfBirth">Date of Birth:</label>
  <input type="date" id="dateOfBirth" name="dateOfBirth" required><br><br>

  <label for="nationality">Nationality:</label>
  <input type="text" id="nationality" name="nationality" required><br><br>

  <label for="address">Address:</label>
  <textarea id="address" name="address" required="" value="{{address}}"></textarea><br><br>
  -->
  <label for="refund_address">Refund Address:</label>
  <input type="text" id="refund_address" name="refund_address" required="" value="{{refund_address}}"><br><br>

  <!--<label for="idDocument">ID Document (Passport, Driver’s License, etc.):</label>
  <input type="file" id="idDocument" name="idDocument" required><br><br>-->

  <button type="submit">Submit</button>
</form>
</div>
