<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DamageBDD Reset Password Form</title>
    <link rel="stylesheet" type="text/css" href='/static/css/main.css'/>
</head>
<body>
  <h2>DamageBDD - Reset Password</h2>
  <form id="resetPasswdForm" action="/accounts/reset_password" method="post">
    <!--<label for="email">Email:</label>-->
    <input type="email" name="email" value="{{email}}" readonly required><br><br>
    <!--<label for="current_password">Current Password:</label>-->
    <input type="{{current_password_type}}" name="current_password" value="{{current_password}}" required><br><br>
    <!--<label for="new_password">New Password:</label>-->
    <input type="password" name="new_password" required placeholder="New Password"><br><br>
    <!--<label for="new_password_confirmation">Confirm New Password:</label>-->
    <input type="password" name="new_password_confirmation" required placeholder="Confirm New Password"><br><br>
    <button class='submit-button' id="resetPasswdBtn" type="submit">Reset Password</button>
  </form>
</body>
</html>
