<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DamageBDD Reset Password</title>
    <link rel="stylesheet" type="text/css" href='/static/css/main.css'/>
  </head>
  <body>
    <h2>DamageBDD - {{message}}</h2>
    Click <a href="{{login_url}}">here</a> to login.
    <br>
    Or
    <br>
    <a href="javascript:window.open('','_self').close();">Close</a> this window 

  </body>
</html>
