Subject: Reset Your DamageBBD Account Password

Hello {{full_name}},

We noticed that you recently requested a password reset for your DamageBBD account. To proceed with resetting your password, please click on the link below:

Reset Password: {{password_reset_url}}

Kindly note that this link is valid for the next 24 hours. After that period, you will need to generate a new password reset request.

If you did not initiate this password reset, please ignore this email. Your account will remain secure as long as you do not click on the reset link provided.

In case you encounter any issues or require further assistance, feel free to contact our support team at support@damagebbd.com. We are always happy to help.

Thank you for using DamageBBD!

Best regards,

The DamageBBD Team
