Welcome to DamageBDD, {{first_name}} {{last_name}}!

We're thrilled to have you on board. 
To get started, we want to provide you with the necessary details:

1. Your Damage Wallet address: {{btc_address}}
   To fund your test runs, please send funds to this address.

2. Your Refund Address: {{btc_refund_address}}
   It's important to ensure that you have full control over this address.

If you have any questions or need further assistance, don't hesitate to reach out to our support team. We're here to help!

Happy testing!

Best regards,
The DamageBDD Team
