<html>
  <body>
    <p>
Welcome to DamageBDD, {{first_name}} {{last_name}}!
    </p>

    <p>
We're thrilled to have you on board. 
    </p>

    <p>
Before we can get started please use this secret link to confirm you account and set your password:
    </p>

<a href="{{password_reset_url}}">{{password_reset_url}}</a>

    <p>
To get started, we have provided you with 100,000 sats worth of free credits.
Once you have spent all the credits you can continue to use DamageBDD by toping up.
If you have any questions or need further assistance, don't hesitate to reach out to our support team. We're here to help!
    </p>

    <p>
Happy testing!
    </p>

    <p>
Best regards,
The DamageBDD Team
    </p>
  </body>

</html>
