%%-*-erlang-*-
%% Simple sample config used to test webserver on localhost

{url, "http://localhost:8088"}.

{host, "localhost"}.

{port, 8080}.

{context_yaml, "config/localhost.yaml"}.

{deployment, local}.

{stop, true}.

{feature_dirs, ["./features/", "./../bdd/features/"]}.

{feature_include, "*.v4.feature"}.

{feature_suffix, ".feature"}.
