%%-*-erlang-*- 
%% Simple sample config used to test http://asyncmind.xyz
{url, "http://localhost:8088"}.
{host, "localhost"}.
{port, 8080}.
{context_yaml, "config/asyncmind.yaml"}.
{deployment, local}.
{stop, true}.
{feature_dirs, ["./features/","./../bdd/features/"]}.
{feature_include, "*.v4.feature"}.
{feature_suffix, ".feature"}.
