[
  {
    kernel,
    [
      {logger_level, info},
      {
        logger,
        [
          {
            handler,
            default,
            logger_std_h,
            #{
              level => info,
              %filters
              %=>
              %[{info, {fun logger_filters:level/2, {stop, neq, info}}}],
              config
              =>
              #{
                file => "logs/console.log",
                max_no_bytes => 4096,
                max_no_files => 5
              }
            }
          },
          {
            handler,
            debug,
            logger_std_h,
            #{
              filters
              =>
              [{debug, {fun logger_filters:level/2, {stop, neq, debug}}}],
              config
              =>
              #{
                file => "logs/debug.log",
                max_no_bytes => 4096,
                max_no_files => 5
              }
            }
          },
          {
            handler,
            error,
            logger_std_h,
            #{
              filters
              =>
              [{error, {fun logger_filters:level/2, {stop, neq, error}}}],
              config
              =>
              #{
                file => "logs/error.log",
                max_no_bytes => 4096,
                max_no_files => 5
              }
            }
          }
        ]
      }
    ]
  },
  {
    throttle,
    [
      {
        rates,
        [
          {damage_global_scope, 10, per_second},
          {damage_api_rate, 80, per_minute}
        ]
      }
    ]
  },
  {mustache, [{templates_dir, "priv/templates"}]},
  {
    damage,
    [
      {port, 8080},
      {data_dir, "/var/lib/damagebdd/"},
      {ae_nodes, [{"192.168.1.197", 3013}]},
      {
        pools,
        [
          {damage, [{size, 5}, {max_overflow, 10}], []},
          {damage_ai, [{size, 1}, {max_overflow, 1}], []},
          {formatter, [{size, 1}, {max_overflow, 1}], []}
        ]
      }
    ]
  }
].
