[{kernel,
  [
   {logger_level, all},
   {logger,
    [{handler, info, logger_std_h,
      #{
        filters => [
            {debug, {fun logger_filters:level/2, {stop, neq, info}}}
            ],
        config => #{file => "logs/console.log"}
       }},
     {handler, debug, logger_std_h,
      #{ 
        filters => [
            {debug, {fun logger_filters:level/2, {stop, neq, debug}}}
            ],
         config => #{ file => "logs/debug.log" } }},
     {handler, error, logger_std_h,
      #{ 
        filters => [
            {debug, {fun logger_filters:level/2, {stop, neq, error}}}
            ],
         config => #{ file => "logs/error.log" } }}
    ]}]}].
