<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="ECAI durable indexing operator console">
  <title>ECAI Indexer</title>
  <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="stylesheet" href="/static/css/ecai-indexer.css">
</head>
<body>
  <div id="ecai-indexer-root" data-page="indexer" data-node-version="{{node_version}}">
    {{{indexer_header}}}

    <main class="ecai-indexer-layout">
      <div class="ecai-indexer-stack">
        {{{queue_status}}}
        {{{new_wikimedia_job}}}
        {{{search}}}
      </div>

      <div class="ecai-indexer-stack">
        {{{jobs}}}
        {{{selected_job}}}
        {{{artifact}}}
        {{{operator_output}}}
      </div>
    </main>
  </div>

  <script src="/static/js/ecai-indexer.js" defer></script>
</body>
</html>
