<section class="ecai-indexer-panel" data-component="selected-job">
  <div class="ecai-indexer-row">
    <h2 class="ecai-indexer-grow">Selected job</h2>
    <button id="trackBtn" type="button" disabled>Track events</button>
    <button id="stopTrackBtn" type="button" disabled>Stop</button>
    <button id="artifactBtn" type="button" disabled>Artifact</button>
  </div>
  <pre id="jobOutput">Select a job.</pre>
  <h3>Live event stream</h3>
  <pre id="eventOutput" class="ecai-indexer-events">Not tracking.</pre>
</section>
