<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DamageBDD Reports - {{hash}}</title>
  <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">

  <!-- PureCSS + theme -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/reports.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
</head>
<body>
  <div id="content">
    <!-- Topbar -->
    <div class="topbar">
      <div class="site-header">
        <img class="logo" src="/static/img/logo.png" alt="DamageBDD Logo" />
        <div class="brand-text">
          <div class="title">DamageBDD</div>
          <div class="subtitle">BDD Run HTML Report</div>
        </div>
      </div>
    </div>
    <table class="report-table">
        <thead>
          <tr>
            <th>File</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
            {{{report_fragment}}}
        </tbody>
    </table>

    <footer>
      <p id="node-public-key"></p>
      <p id="node-version"></p>
    </footer>
  </div>
</body>
</html>
