<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DamageBDD Reset Password Form</title>
    <link rel="stylesheet" type="text/css" href='/static/css/main.css'/>
  </head>
  <body>
    <h2>DamageBDD - Reset Password</h2>
    <form id="resetPasswdForm" action="/accounts/reset_password" method="post">
      <!--<label for="current_password">Current Password:</label>-->
      <input type="hidden" name="token" value="{{token}}" required><br><br>
      <!--<label for="new_password">New Password:</label>-->
      <input type="password" name="new_password" required placeholder="New Password"><br><br>
      <!--<label for="new_password_confirmation">Confirm New Password:</label>-->
      <input type="password" name="new_password_confirm" required placeholder="Confirm New Password"><br><br>
      <button class='submit-button' id="resetPasswdBtn" type="submit">Reset Password</button>
    </form>
    <script>
      document.getElementById('resetPasswdForm').addEventListener('submit', function(e) {
          const newPassword = document.querySelector('input[name="new_password"]').value;
          const confirmPassword = document.querySelector('input[name="new_password_confirmation"]').value;

          // Password must be at least 8 characters long, with at least one lowercase letter,
          // one uppercase letter, one number, and one special character.
          const passwordRegex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*()_\-=\[\]{};':"\\|,.<>\/?]).{8,}$/;

          if (!passwordRegex.test(newPassword)) {
              alert('Password must be at least 8 characters long and include:\n- One uppercase letter\n- One lowercase letter\n- One digit\n- One special character');
              e.preventDefault();
              return;
          }

          if (newPassword !== confirmPassword) {
              alert('New password and confirmation do not match.');
              e.preventDefault();
          }
      });
      </script>

  </body>
</html>
